body {
    background: url("../images/banner_background.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
}

.box {
    width: 350px;
    height: 350px;
    border: 3px solid gray;
    margin: 90px auto 90px auto;
}

.box * {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.face {
    border-radius: 50%;
    width: 170px;
}

.career_goals_p {
    margin-left: 10px;
}

nav, .fondo_blanco {
    background-color: white;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-nav li {
    width: 150px;
}

.navbar-nav li a {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: gray;
    text-align: center;
}

.navbar-nav li a:hover {
    background-color: #ebebeb;
    color: gray;
}

.content_article * {
    margin-left: 40px;
}

.content_article h5 {
    font-weight: bold;
}

.content_article, .content_skills {
    border-left: 2px dashed lightgray;
}

.content_article_interests {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.interests_photos {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.lang_score {
    float: right;
}

.lang_score * {
    color: gray
}

.skills_list {
    list-style: none;
}

.logo {
    font-size: 30px;
    color: lightgray;
}

.section_title {
    padding-bottom: 20px;
    border-bottom: 2px solid #9ba9e6;
}

.section_title * {
    display: inline;
}

.section_title>h3 {
    color: #9ba9e6;
}

section {
    margin: 30px;
}

a {
    text-decoration: none;
}

li, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

td {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

table {
    margin: 40px;
}

.project_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    background-color: transparent;
    width: 340px;
    height: 290px;
    margin: 40px auto 40px auto;
}

iframe {
    z-index: 1;
}

.project_container::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -30%);
    width: 270px;
    height: 270px;
    border: inherit;
}

.project_header {
    margin: 30px;
    text-align: center;
}

.project_header>h2 {
    color: white;
}

.project_desc {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.project_desc>h3 {
    margin-top: 50px;
}

.project_desc>p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.project_container::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-75%, -65%);
    width: 280px;
    height: 280px;
    border: inherit;
}

.chart::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - var(--bord));
    height: calc(100% - var(--bord));
    background: white;
    border-radius: inherit;
}

:root {
    --size: 140px;
    --bord: 10px;
}

.chart_parent {
    text-align: center;
}

.chart_parent * {
    display: flex;
    display: inline-block;
}

.chart {
    margin: 0px 20px 0px 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-image: conic-gradient(#ffb1a1 var(--value), lightgrey var(--value));
    position: relative;
}

.percent {
    position: relative;
    z-index: 1;
    font-size: 2em;
}

.x-100 {
    --value: 100%;
}

.x-90 {
    --value: 90%;
}

footer {
    background-color: black;
    height: 150px;
    position: relative;
}

footer * {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (max-width: 800px) {
    body {
        background: linear-gradient(#f3bdb9, #b0b7ed);
        background-attachment: fixed;
    }
    .another_skilss {
        margin-left: 20px;
    }
}